.loader-container {
  min-height: 100vh;
  background-color: black;
}

.sub-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px solid red;
}

p {
  color: #fff;
  text-align: center;
}
